/* slideshow.css */

.hero-image {
    flex: 1;
    position: relative;
    max-width: 330px;
    margin: 0 auto;
    user-select: none;
    -webkit-user-select: none;
}

.slideshow-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    pointer-events: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    object-fit: cover;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.slide.active {
    opacity: 1;
}